<!doctype html>
<html>
<head>
    <title>towering</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <!-- ######### load fontawesome ######### -->
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css"> 
    <!-- ######### google fonts ######## -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="row title">
     <h4>towering</h4>
    </div>
</div>
<div class="container" id="main">
    {{{ list docs }}}
</div>
<!-- ###### socket.io setup ####### -->
<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
<script>
	var socket = io();
    socket.on('move', function (doc) {
        var mu = "<div class='row doc'><div class='one-third column'><div class='timestamp'>" + doc.timestamp + "</div></div><div class='two-third column'><pre>" + doc.data + "</pre></div></div>";
        var main = document.getElementById('main');
        main.innerHTML = mu + main.innerHTML;
        window.setTimeout(function () {
            var main = document.getElementById('main');
            var newRow = main.childNodes[0];
            newRow.className = "row";
        }, 3000);
    });
</script>
</body>
</html> 