<!doctype html>
<html>
<head>
    <title>towering</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <!-- ######### load fontawesome ######### -->
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css"> 
    <!-- ######### google fonts ######## -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="row title">
     <h4><i class="fa fa-align-justify"></i></h4>
    </div>
</div>
<div class="container" id="main">
    {{{ list docs }}}
</div>
<div class="container" id="more">
    <div class="row">
        <p id="moreLink"><i class="fa fa-ellipsis-h"></i></p>
    </div>
</div>
<!-- ###### socket.io setup ####### -->
<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
<script>
	var socket = io();
    socket.on('move', function (doc) {
        var mu = "<div class='row doc'><div class='one-third column'><div class='timestamp'>" + doc.timestamp 
               + "</div></div><div class='two-third column'><pre>" + doc.data + "</pre></div></div>";
        var main = document.getElementById('main');
        var oldRow = main.childNodes[main.childNodes.length-1];
        main.innerHTML = mu + main.innerHTML;
        if(main.childNodes.length > 1000){
            oldRow.className = "row clear";
        }
        window.setTimeout(function () {
            var main = document.getElementById('main');
            var newRow = main.childNodes[0];
            newRow.className = "row";
            if(main.childNodes.length > 1000){
                var oldRow = main.childNodes[main.childNodes.length];
                main.removeChild(oldRow);
            }
        }, 3000);
    });
    socket.on('sentMore', function (docs) {
        //docs is an array of documents, sorted newest to oldest (biggest timestamp to smallest)
        var mu = "";
        for(var i = 0; i != docs.length; i++){
            mu += "<div class='row'><div class='one-third column'><div class='timestamp'>" + docs[i].timestamp 
               + "</div></div><div class='two-third column'><pre>" + docs[i].data + "</pre></div></div>";
        }
        var main = document.getElementById('main');
        main.innerHTML = main.innerHTML + mu;
    });
    var getMore = function(){
        socket.emit('more');
    };
    document.addEventListener("DOMContentLoaded", function(event){
        console.log("loaded");
        var link = document.getElementById("moreLink");
        link.onclick = getMore;
    });
</script>
</body>
</html> 