<!doctype html>
<html>
<head>
    <title>hanoijs</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css"> 
    <!-- load fontawesome -->
</head>
<body>
<div class="container">

    <div class="row">
        <h1><span class="fa fa-lock"></span> Twitter Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/auth/twitter"><span class="fa fa-twitter"></span> Twitter</a>

    </div>

</div>
</body>
</html> 