<!doctype html>
<html>
<head>
    <title>towering</title>
    <link rel="stylesheet" href="../css/style.css"> 
    <!-- ######### load fontawesome ######### -->
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css"> 
    <!-- ######### load modal stylsheet ########### -->
    <link rel="stylesheet" href="../libs/css-modal/build/modal.css"> 
    <!-- ######### google fonts ######## -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <div class="row title">
     <h4><a href="#modal-about"><i class="fa fa-align-justify"></i></a></h4>
    </div>
</div>
<div class="container" id="main">
    {{{ list docs }}}
</div>
<div class="container" id="more">
    <div class="row">
        <p id="moreLink"><i class="fa fa-ellipsis-h"></i></p>
    </div>
</div>
<!-- ###### socket.io setup ####### -->
<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
<script>
	var socket = io();
    socket.on('move', function (doc) {
        var mu = "<div class='row doc'><div class='five columns'><div class='timestamp'>" + doc.timestamp 
               + "</div></div><div class='two-thirds column'><pre>" + doc.data + "</pre></div></div>";
        var main = document.getElementById('main');
        var oldRow = main.childNodes[main.childNodes.length-1];
        main.innerHTML = mu + main.innerHTML;
        if(main.childNodes.length > 1000){
            oldRow.className = "row clear";
        }
        window.setTimeout(function () {
            var main = document.getElementById('main');
            var newRow = main.childNodes[0];
            newRow.className = "row";
            if(main.childNodes.length > 1000){
                var oldRow = main.childNodes[main.childNodes.length-1];
                main.removeChild(oldRow);
            }
        }, 3000);
    });
</script>

{{> about}}

</body>
</html> 